@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
.form-label,
.btn-primary {
  color: aliceblue;
  font-family: "Source Sans Pro", sans-serif; }

header {
  font-family: "Source Sans Pro", sans-serif;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 1em;
  /* .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {

        background: red;
    } */ }
  header .bg-dark {
    background: linear-gradient(to right, #000000da, #ffffff00, #ffffff00, #ffffff00, #000000ec, #232323ec) !important; }
    @media only screen and (max-width: 991.98px) {
      header .bg-dark {
        background: none !important; } }
  header .logoHeader {
    height: 3em; }
    @media only screen and (max-width: 767.98px) {
      header .logoHeader {
        height: 1.5em; } }
  header .navbar {
    height: auto; }
  header .navbar-toggler {
    border: 0px; }
    header .navbar-toggler:hover {
      border: 2px solid #ad6e27; }
  header .navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase; }
  header .nav-link {
    padding: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em; }
    header .nav-link:hover {
      border-bottom: 1px solid #863f1e; }
  header .navbar-dark .navbar-nav .nav-link.active,
  header .navbar-dark .navbar-nav .show > .nav-link {
    color: #ad6e27; }
    header .navbar-dark .navbar-nav .nav-link.active:hover,
    header .navbar-dark .navbar-nav .show > .nav-link:hover {
      color: #ad6e27;
      border-bottom: 1px solid #863f1e; }
  header .navbar-dark .navbar-nav .nav-link:focus,
  header .navbar-dark .navbar-nav .nav-link:hover {
    color: #c8ac38; }

html body {
  background: linear-gradient(45deg, #303336, #0e1013);
  padding: 1em;
  overflow-x: hidden; }
  html body .logo-principal {
    height: 9em;
    object-fit: contain;
    margin-top: 1.5em;
    margin-bottom: 1em;
    position: relative;
    left: -3%; }
  html body h3 {
    text-align: center;
    margin-top: 1em;
    color: #c5a24c; }
  html body .subtitle-main {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2rem; }
  html body .carousel-caption {
    font-size: 1.5rem;
    background-color: #ad6e27;
    opacity: 0.8;
    font-weight: bold;
    box-shadow: 2px 2px 5px #14171a;
    border-radius: 20px; }
    html body .carousel-caption h5 {
      text-transform: uppercase; }
  html body .main-index {
    background-color: #212529; }
  html body .carousel-control-next {
    right: 2%; }
  html body .carousel-control-prev {
    left: 2%; }
  html body .carousel-control-next,
  html body .carousel-control-prev {
    scale: 150%;
    height: 60%;
    width: 2.5vw;
    top: 20%;
    border-radius: 50px; }
    html body .carousel-control-next:hover,
    html body .carousel-control-prev:hover {
      background-color: #c5a24c;
      opacity: 0.3;
      transition: opacity 0.1s ease 0s; }
  html body .carousel-dark .carousel-control-next-icon,
  html body .carousel-dark .carousel-control-prev-icon {
    filter: none; }
  html body .main-parrafos {
    justify-content: space-around;
    padding-bottom: 60px;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em; }
    html body .main-parrafos h5 {
      padding-top: 20px; }
    html body .main-parrafos p {
      padding: 20px, 5px, 20px, 5px; }
    html body .main-parrafos .paragraphs-icons {
      width: 45px;
      margin: 1em; }
    html body .main-parrafos .main-paragraphs-description {
      border: 1px solid #b06e1a;
      border-radius: 20px;
      max-width: 350px;
      margin-top: 20px;
      font-size: 1.25rem;
      padding: 2em;
      box-shadow: 4px 4px 5px #14171a; }
  html body .description-items {
    height: auto;
    background-image: url("../assets/orchestral-black-and-white.webp");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200%;
    background-position-y: 80%;
    background-position-x: 10%;
    text-align: center;
    text-shadow: 1px 1px #14171a;
    overflow-x: hidden; }
    html body .description-items h1 {
      color: #b06e1a;
      text-align: center;
      padding-top: 1.5em;
      padding-bottom: 1.5em; }
      html body .description-items h1 .title-up {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 4px;
        line-height: 0.8;
        font-weight: bold; }
      html body .description-items h1 .title-down {
        font-size: 2rem;
        letter-spacing: -1px;
        font-weight: light; }
    html body .description-items h5 {
      margin-top: 1.25em;
      margin-bottom: 1.25em;
      font-size: 2rem; }
    html body .description-items p {
      margin: 10px 0px 15px 0px;
      font-size: 1.5rem; }
  html body .clientes {
    background-color: white;
    justify-content: center;
    margin-bottom: 30px; }
    html body .clientes .nuestros-clientes-text {
      background-color: #212529;
      padding-top: 2em;
      padding-bottom: 2em; }
    html body .clientes .imag-clientes {
      max-width: 120px;
      max-height: 90px;
      margin: 0.8em; }

@media only screen and (max-width: 767.98px) {
  html html,
  html body {
    padding: 0px; } }

.main-clientes .card {
  border-radius: 20px;
  color: aliceblue;
  text-align: center;
  background-color: #212529;
  box-shadow: 3px 1px 5px #14171a; }
  .main-clientes .card .div-play-icon {
    position: relative; }
    .main-clientes .card .div-play-icon .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      opacity: 0.9;
      display: none; }
    .main-clientes .card .div-play-icon:hover .play-icon {
      display: block; }
  .main-clientes .card h4 {
    color: #b06e1a; }
  .main-clientes .card h5 {
    padding: 1em; }
  .main-clientes .card .card-title {
    font-weight: bold; }
  .main-clientes .card .card-text {
    padding: 1.5em;
    font-weight: lighter; }
  .main-clientes .card .card-img-top {
    border-radius: 20px 20px 0px 0px;
    box-shadow: 3px 1x 5px #14171a; }
    .main-clientes .card .card-img-top:hover {
      opacity: 0.8;
      box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5); }

.main-reel {
  overflow-y: hidden; }
  .main-reel .gallery-images img {
    border-radius: 25px;
    box-shadow: 5px 2px 5px #14171a;
    margin-top: 5px; }
    .main-reel .gallery-images img:hover {
      outline: 1px solid whitesmoke;
      scale: 101%;
      box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.7); }
    @media only screen and (max-width: 767.98px) {
      .main-reel .gallery-images img {
        scale: 85%; } }

.modal-content {
  background-color: rgba(0, 0, 0, 0); }
  .modal-content img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7); }

.main-estudiomovil {
  overflow-x: hidden; }
  .main-estudiomovil h2 {
    text-align: center;
    margin: 1.5em;
    font-size: 2.5rem;
    color: #b06e1a;
    font-weight: bold; }
  .main-estudiomovil .backgroung-theater {
    background-image: url("../assets/sala-concierto-background.webp");
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: center;
    background-attachment: fixed;
    height: 50vh;
    margin-bottom: 2em;
    align-items: center;
    text-align: center; }
  .main-estudiomovil .inner-text--estudio-movil {
    background-color: rgba(173, 110, 39, 0.95);
    box-shadow: 2px 2px 5px #14171a;
    border-radius: 20px; }
    .main-estudiomovil .inner-text--estudio-movil h4,
    .main-estudiomovil .inner-text--estudio-movil h5 {
      padding-bottom: 1em;
      padding-top: 1em; }
  .main-estudiomovil .descripcion-estudiomovil .descripcion-estudiomovil-article {
    background-image: url("../assets/violin_bg2.webp");
    background-repeat: no-repeat;
    background-color: black;
    text-shadow: 2px 2px 3px black; }
    .main-estudiomovil .descripcion-estudiomovil .descripcion-estudiomovil-article p {
      font-size: 1.25rem; }
  .main-estudiomovil .descripcion-estudiomovil h3 {
    padding: 1em;
    font-weight: bold; }
  .main-estudiomovil .descripcion-estudiomovil p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em; }
  .main-estudiomovil .ejemplo-estudiomovil {
    padding: 4em;
    background-color: #171717;
    box-shadow: 5px 2px 5px #14171a;
    letter-spacing: 1px; }
    .main-estudiomovil .ejemplo-estudiomovil iframe {
      scale: 115%; }
    .main-estudiomovil .ejemplo-estudiomovil h5 {
      padding: 1em;
      text-align: center;
      font-weight: bold; }
    .main-estudiomovil .ejemplo-estudiomovil .ejemplo-estudiomovil--texto {
      padding: 2em;
      background-color: #ad6e27;
      margin-top: 10%;
      border-radius: 20px;
      box-shadow: 5px 2px 5px #14171a; }
  .main-estudiomovil .videos-ejemplo {
    border: 1px solid #b06e1a;
    border-radius: 30px;
    margin: 2em; }
    @media only screen and (max-width: 991.98px) {
      .main-estudiomovil .videos-ejemplo {
        margin: 20px 0px 20px; } }
    .main-estudiomovil .videos-ejemplo h3 {
      margin: 2em;
      font-weight: bold; }
    .main-estudiomovil .videos-ejemplo iframe {
      scale: 1;
      width: 100%;
      height: 25em;
      padding: 1em; }
  .main-estudiomovil .videos-ejemplo-iframe {
    text-align: center;
    padding: 1em; }
  .main-estudiomovil .button-estudio {
    text-align: center; }
    .main-estudiomovil .button-estudio .btn-primary {
      background-color: #ad6e27;
      border-color: #ad6e27;
      border-radius: 10px;
      margin: 4em;
      width: 35%;
      font-size: 1.5rem; }
      .main-estudiomovil .button-estudio .btn-primary a {
        text-decoration: none;
        color: aliceblue; }
        .main-estudiomovil .button-estudio .btn-primary a:hover {
          color: #863f1e; }

.main-contacto .info-contacto {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: aliceblue; }
  .main-contacto .info-contacto .title {
    font-size: 2.5rem;
    text-decoration: underline;
    color: #b06e1a; }

.main-contacto .mapa-contacto {
  width: 100%;
  height: 100%;
  padding: 3em; }

@media only screen and (max-width: 991.98px) {
  .main-contacto .mapa-contacto {
    min-height: 50vh;
    margin: 0px 0px 30px;
    scale: 105%; } }

.main-contacto .form {
  padding: 3em;
  background-image: url(../assets/segunda-camara-imagen-fondo-baja.webp);
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: 20%;
  text-shadow: 2px 2px 3px black; }
  .main-contacto .form .form-label {
    color: aliceblue; }

@media only screen and (max-width: 767.98px) {
  .main-contacto .form {
    padding: 1em; } }

.main-contacto .form-control:focus {
  border: 2px solid #b06e1a;
  box-shadow: 5px 2px 5px #14171a; }

.main-contacto .btn-primary {
  background-color: #ad6e27;
  border-color: #ad6e27;
  border-radius: 5px;
  margin-right: 25px; }

footer {
  background-color: black;
  box-shadow: 5px 2px 5px #14171a; }
  footer p {
    color: aliceblue; }
  footer .footer--text {
    text-align: center;
    padding: 0.5em; }
  footer .iconos-group {
    align-items: center; }
    footer .iconos-group .col-2 {
      max-width: 60px;
      min-width: 50px;
      padding: 1em; }
  footer .logo-avant-footer {
    max-height: 130px; }
  footer .logo-redes {
    max-height: 30px;
    margin-top: 1em; }
  footer ul {
    list-style: none; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #2c2b2b; }

::-webkit-scrollbar-thumb {
  background: #2125293d;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }
  ::-webkit-scrollbar-thumb:hover {
    background: #888; }

.back-to-top-icon {
  position: fixed;
  top: 93%;
  left: 95%;
  width: 50px;
  opacity: 0.5; }
  .back-to-top-icon:hover {
    opacity: 0.6; }

@media only screen and (max-width: 992px) {
  .back-to-top-icon {
    display: none; } }
