$colorMain: rgb(176, 110, 26);
$colorLogo1: rgb(134, 63, 30);
$colorLogo2: rgb(173, 110, 39);
$colorLogo3: rgb(197, 162, 76);
$colorLogo4: rgb(200, 172, 56);
$colorLogo5: rgb(173, 155, 48);
$bgColor: #212529;
$bgColor2: rgb(245, 245, 245);
$mainGradient: linear-gradient(45deg, #303336, #0e1013);
$textColor: aliceblue;
$shadowBoxColor: #14171a;