.main-contacto {

    .info-contacto {
        text-align: center;
        margin-top: $marginGeneral*1.5;
        margin-bottom: $marginGeneral*1.5;
        color: $textColor;

        .title {
            font-size: $fontSize*2.5;
            text-decoration: underline;
            color: $colorMain;
        }
    }

    .mapa-contacto {
        width: 100%;
        height: 100%;
        padding: $marginGeneral*3;
    }

    @media only screen and (max-width: 991.98px) {
        .mapa-contacto {
            min-height: 50vh;
        }
    }

    .form {
        padding: $marginGeneral*3;

        .form-label {
            color: $textColor;
        }
    }

    .form-control:focus {
        &:focus {
            border: 2px solid $colorMain;
            box-shadow: 5px 2px 5px $shadowBoxColor;
        }
    }

    .btn-primary {
        background-color: $colorLogo2;
        border-color: $colorLogo2;
        border-radius: 5px;
        margin-right: 25px;
    }
}