.main-estudiomovil {
    overflow-x: hidden;

    h2 {
        text-align: center;
        margin: $marginGeneral*1.5;
        font-size: $fontSize*2.5;
        color: $colorMain;
        font-weight: bold;
    }

    .backgroung-theater {
        background-image: url("../assets/sala-concierto-background.jpg");
        background-repeat: no-repeat;
        background-position-y: 40%;
        background-position-x: center;
        height: 50vh;
        margin-bottom: $marginGeneral*2;
        align-items: center;
        text-align: center;
    }

    .inner-text--estudio-movil {
        background-color: rgba(173, 110, 39, 0.95);
        box-shadow: 2px 2px 5px $shadowBoxColor;
        border-radius: 20px;

        h4,
        h5 {
            padding-bottom: $marginGeneral;
            padding-top: $marginGeneral;
        }
    }

    .descripcion-estudiomovil {
        .descripcion-estudiomovil-article {
            background-image: url("../assets/violin_bg2.png");
            background-repeat: no-repeat;
            background-color: black;
            text-shadow: 2px 2px 3px black;

            p{
                font-size: $fontSize*1.25;    
            }
        }

        h3 {
            padding: $marginGeneral;
            font-weight: bold;
        }

        p {
            font-size: $fontSize;
            text-align: center;
            margin-bottom: $marginGeneral*2;
            padding-left: $marginGeneral*2;
            padding-right: $marginGeneral*2;
        }
    }

    .ejemplo-estudiomovil {
        padding: $marginGeneral*4;
        background-color: rgb(23, 23, 23);
        box-shadow: 5px 2px 5px $shadowBoxColor;
        letter-spacing: 1px;

        h5 {
            padding: $marginGeneral;
            text-align: center;
            font-weight: bold;
        }

        .ejemplo-estudiomovil--texto {
            padding: $marginGeneral*2;
            background-color: $colorLogo2;
            margin-top: 10%;
            border-radius: 20px;
            box-shadow: 5px 2px 5px $shadowBoxColor;
        }
    }

    .videos-ejemplo {
        border: 1px solid $colorMain;
        border-radius: 30px;
        margin: $marginGeneral*2;

        h3 {
            margin: $marginGeneral*2;
            font-weight: bold;
        }

        iframe {
            scale: 1;
            width: 100%;
            height: $marginGeneral*25;
            padding: $marginGeneral;
        }
    }

    .videos-ejemplo-iframe {
        text-align: center;
        padding: $marginGeneral;
    }

    .button-estudio {
        text-align: center;

        .btn-primary {
            background-color: $colorLogo2;
            border-color: $colorLogo2;
            border-radius: 10px;
            margin: $marginGeneral*4;
            width: 35%;
            font-size: $fontSize*1.5;


            a {
                text-decoration: none;
                color: $textColor;

                &:hover {
                    color: $colorLogo1;
                }
            }
        }
    }
}