@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$SansPro: 'Source Sans Pro', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p,
.form-label,
.btn-primary {
    color: $textColor;
    font-family: $SansPro;
}