footer {
    background-color: rgba(0, 0, 0, 0.911);
    box-shadow: 5px 2px 5px $shadowBoxColor;

    p{
        color: $textColor;
    }

    .footer--text {
        text-align: center;
        padding: $marginGeneral*.5;
    }

    .iconos-group {
        align-items: center;

        .col-2 {
            max-width: 60px;
            min-width: 50px;
            padding: $marginGeneral;
        }
    }

    .logo-avant-footer {
        max-height: 130px;
    }

    .logo-redes {
        max-height: 30px;
        margin-top: $marginGeneral;
    }

    ul {
        list-style: none;
    }
}