html {
    body {
        background: $mainGradient;
        padding: $marginGeneral;
        overflow-x: hidden;

        .logo-principal {

            height: 9em;
            object-fit: contain;
            margin-top: 1.5em;
            margin-bottom: 1em;
            position: relative;
            left: -3%;
        }

        h3 {
            text-align: center;
            margin-top: $marginGeneral;
            color: $colorLogo3;
        }

        .subtitle-main {
            margin-top: $marginGeneral*2;
            margin-bottom: $marginGeneral*2;
            font-size: $fontSize*2;
        }

        .carousel-caption {

            font-size: $fontSize*1.5;
            background-color: $colorLogo2;
            opacity: 0.8;
            font-weight: bold;
            box-shadow: 2px 2px 5px $shadowBoxColor;
            border-radius: 20px;

            h5 {
                text-transform: uppercase;
            }
        }

        .main-index {
            background-color: $bgColor
        }

        .carousel-control-next {
            right: 2%;
        }

        .carousel-control-prev {
            left: 2%;
        }

        .carousel-control-next,
        .carousel-control-prev {

            scale: 150%;
            height: 60%;
            width: 2.5vw;
            top: 20%;
            border-radius: 50px;

            &:hover {
                background-color: $colorLogo3;
                opacity: 0.3;
                transition: opacity 0.1s ease 0s;
            }
        }

        .carousel-dark .carousel-control-next-icon,
        .carousel-dark .carousel-control-prev-icon {
            filter: none;
        }

        .main-parrafos {

            justify-content: space-around;
            padding-bottom: 60px;
            text-align: center;
            padding-left: $marginGeneral;
            padding-right: $marginGeneral;

            h5 {
                padding-top: 20px;
            }

            p {
                padding: 20px, 5px, 20px, 5px;
            }

            .paragraphs-icons {
                width: 45px;
                margin: $marginGeneral;
            }

            .main-paragraphs-description {
                border: 1px solid $colorMain;
                border-radius: 20px;
                max-width: 350px;
                margin-top: 20px;
                font-size: $fontSize*1.25;
                padding: $marginGeneral*2;
                box-shadow: 4px 4px 5px $shadowBoxColor;
            }
        }

        .description-items {
            height: auto;
            background-image: url("../assets/backgrounds/orchestral-black-and-white.webp");
            background-color: black;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 200%;
            background-position-y: 80%;
            background-position-x: 10%;
            text-align: center;
            text-shadow: 1px 1px $shadowBoxColor;
            overflow-x: hidden;


            h1 {
                color: $colorMain;
                text-align: center;
                padding-top: $marginGeneral*1.5;
                padding-bottom: $marginGeneral*1.5;

                .title-up {
                    text-transform: uppercase;
                    font-size: $fontSize*3;
                    letter-spacing: 4px;
                    line-height: 0.8;
                    font-weight: bold;
                }

                .title-down {
                    font-size: $fontSize*2;
                    letter-spacing: -1px;
                    font-weight: light;
                }
            }


            h5 {
                margin-top: 1.25em;
                margin-bottom: 1.25em;
                font-size: $fontSize*2
            }

            p {
                margin: 10px 0px 15px 0px;
                font-size: $fontSize*1.5
            }
        }

        .clientes {
            background-color: white;
            justify-content: center;
            margin-bottom: 30px;

            .nuestros-clientes-text {
                background-color: $bgColor;
                padding-top: $marginGeneral*2;
                padding-bottom: $marginGeneral*2;
            }

            .imag-clientes {
                max-width: 120px;
                max-height: 90px;
                margin: $marginGeneral*.8;
            }
        }
    }

    @media only screen and (max-width: 767.98px) {

        html,
        body {
            padding: 0px;
        }
    }
}