::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2c2b2b;
}

::-webkit-scrollbar-thumb {
    background: #2125293d;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;

    &:hover {
        background: #888;
    }
}